{% extends "base.html" %} {% block title %}Create Profile{% endblock %} {% block content
    %}

<div class="art-container">
    <div class="main-art-img">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16" id="fav-mark">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/></svg>
        </a>
    </div>  
    <div class="main-art-text">
        <h1>{{headline}}</h1>
        <p>{{description}}</p>
        <p>Price: {{price}} SEK</p>
        <button class="art-buttons">Add to cart</button>
        <button class="art-buttons">Add to favorite</button>
    </div>
</div>
{%endblock%}