:root{
    --primary: #364238;
    --light: #f8f0f0;
    --dark: rgb(37, 37, 37);
    --background: #8bc5af;
    --grey: #e0e0e0;
    --success: rgba(157, 252, 157, 0.849);
    --danger: rgba(221, 71, 71, 0.849);
}

.wrapper{
    max-width: 1100px;
    margin: auto;
}

.container{
    margin-top: 1%;
    max-width: 1100px;
    min-height: 500px;
}

#header-box{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    font-family: 'Sacramento', cursive;
    border-bottom: 1px solid var(--grey);
}

#header{
    font-size: 45px;
    margin: auto;
    color: var(--dark);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey);
}

#left-links{
    font-size: 20px;
    height: 100%;
    padding-top: 10px;
}

#left-links a{
    text-decoration: none;
    color: var(--dark);
}

#left-links a:hover{
    color: var(--background);
}

#right-links{
    display: flex;
    justify-content: space-around;
}

#right-links a{
    padding-left: 30px;
    padding-top: 10px;
    color: var(--primary);
}

#right-links a:hover{
    color: var(--background);
}

#filter{
    margin: auto;
    width: 90%;
    margin-top: 15px;
}

#categories{
    padding: 10px;
}

#categories button{
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: var(--primary);
    margin-right: 10px;
    margin-bottom: 2px;
}

#categories button:hover{
    border-bottom: 1px solid var(--dark);
}

#categories a{
    text-decoration: none;
    color: var(--primary);
}

#categories a:hover{
    border-bottom: 1px solid var(--dark);
}

.category-content{
    display: none;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 300px;
    padding: 10px;
}

.category-content section{
    float: left;
    margin-right: 70px;
}


.category-content h4{
    color: var(--grey);
    margin-left: 30px;
}

.category-content li{
    list-style: none;
    padding-bottom: 5px;
}

#search-box{
    border: 1px solid var(--primary);
    border-radius: 30px;
    height: 40px;
    padding: 5px 5px 5px 10px;
}

#search-btn{
    border: 1px solid var(--primary);
    border-radius: 30px;
    background-color: white;
    color: var(--primary);
    height: 40px;
    width: 70px;
}

#search-btn:hover{
    background-color: var(--background);
    color: var(--light);
}

.jumbo{
    margin-top: 1%;
    width: 100%;
    height: 400px;
    background-image: url(/static/img/jumbo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


#articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 500px;
    margin-top: 25px;
}

.card{
    width: 240px;
    height: 400px;
    padding: 10px;
    margin: 0px 5px 30px 5px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.art-img{
    height: 280px;
    width: 220px;
    overflow: hidden;
    background-image: url(/static/img/shirt.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.art-img:hover{
    background-image: url(/static/img/shirt-model.jpg);
}

#fav-mark{
    float: right;
    margin: 10px 10px 0px 0px;
    color: var(--light);
    text-decoration: none;
}

#fav-mark:hover{
    color: var(--background);
}
.art-text{
    padding-top: 30px;
}

.art-link{
    text-decoration: none;
    color: var(--dark);
    margin-left: 40%;
    
}

.art-link:hover{
    color: var(--background);
}


footer{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    background-color: var(--grey);
    padding: 50px 0 50px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer h4{
    margin-left: 30px;
}

footer li{
    list-style: none;
}

.art-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px 0 50px 0;
}

.main-art-img{
    background-image: url(/static/img/shirt.jpg);
    background-size: 100%;
    height: 420px;
    width: 350px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-art-img:hover{
    background-image: url(/static/img/shirt-model.jpg);
    background-position: center;
}

.main-art-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 500px;
}

.main-art-text *{
    margin-top: 20px;
}

.art-buttons{
    margin-top: 30px;
    color: white;
    border: none;
    background-color: var(--dark);
    padding: 8px;
    border-radius: 5px;
}

.art-buttons:hover{
    background-color: black;
}

#cart-icon{
    margin-left: 20px;
}


#login-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;

    padding: 20px;
    border-radius: 1px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#login-footer{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 30px;
    border-top: 1px solid var(--grey);
    width: 90%;
    padding: 10px;
    font-size: 20px;
}

#submit-btn{
    background-color: var(--background);
    color: white;
    border: 1px solid var(--dark);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#alert-success{
    display: flex;
    justify-content: space-around;
}

.norm-link{
    text-decoration: none;
    color: var(--dark);  
}
