{% extends "base.html" %} {% block title %}Start{% endblock %} {% block content
    %}
    <div id="filter">

        <div id="categories">
            
            <button id="show">New</button>
            <button id="hide">New2</button>
            <button onmouseover="showCategoryContentBeauty(this)" onmouseout="hideCategoryContentBeauty(this)">Beauty</button>
            <button onmouseover="showCategoryContentClothes(this)" onmouseout="hideCategoryContentClothes(this)">Clothes</button>
            <button onmouseover="showCategoryContentShoes(this)" onmouseout="hideCategoryContentShoes(this)">Shoes</button>
            <button onmouseover="showCategoryContentSport(this)" onmouseout="hideCategoryContentSport(this)">Sport</button>
            <button onmouseover="showCategoryContentSale(this)" onmouseout="hideCategoryContentSale(this)">Sale</button>
            
            {%for row in categories%}
                {%if row[0] == '6f293608-e5d5-4db3-a013-3b5146e026ac'%}
                <div class="category-content" id="new-cat"> 
                    <section>
                        <h4>{{row[1]}}</h4>
                        <ul>
                            <li><a href="#">{{row[1]}}</a></li>
                        </ul>
                    </section>
                </div>
                {%elif row[0] == '5847035c-51a6-4bcc-8ea1-b7b4ebc94600'%}
                <div class="category-content" id="beauty-cat"> 
                    <section>
                        <h4>{{row[1]}}</h4>
                        <ul>
                            <li><a href="#">{{row[1]}}</a></li>
                        </ul>
                    </section>
                </div>
                {%elif row[0] == 'a39d5427-5bde-4ca7-8bf0-3eabf0a17fe1'%}
                <div class="category-content" id="clothes-cat"> 
                    <section>
                        <h4>{{row[1]}}</h4>
                        <ul>
                            <li><a href="#">{{row[1]}}</a></li>
                        </ul>
                    </section>
                </div>
                {%elif row[0] == '8609c9ed-ef6d-4c40-97c7-4cb6982620d1'%}
                <div class="category-content" id="shoes-cat"> 
                    <section>
                        <h4>{{row[1]}}</h4>
                        <ul>
                            <li><a href="#">{{row[1]}}</a></li>
                        </ul>
                    </section>
                </div>
                {%elif row[0] == 'cef8a990-dcd1-4247-b680-e08e4c68d5b5'%}
                <div class="category-content" id="sport-cat"> 
                    <section>
                        <h4>{{row[1]}}</h4>
                        <ul>
                            <li><a href="#">{{row[1]}}</a></li>
                        </ul>
                    </section>
                </div>
                {%elif row[0] == '0a6202cd-bb8b-4cd5-9db8-47c87969dff8'%}
                <div class="category-content" id="sale-cat"> 
                    <section>
                        <h4>{{row[1]}}</h4>
                        <ul>
                            <li><a href="#">{{row[1]}}</a></li>
                        </ul>
                    </section>
                </div>
                {%endif%}
            {%endfor%}
        </div>
        <!--
        <div id="search">
            <input type="text" placeholder="Search" id="search-box">
            <button type="submit" id="search-btn">Search</button>
        </div>
        -->
    </div>

    <div class="jumbo"></div>

    <div id="articles">
        {%for row in articles%}
        <div class="card">
            <div class="art-img">
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16" id="fav-mark">
                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/></svg>
                </a>
            </div>
            <div class="art-text">
                <h2>{{row[1]}}</h2>
                <p>Price: {{row[3]}} SEK</p>
                <a href="/article/{{row[0]}}" class="art-link">Open</a>
            </div>
        </div>
        {%endfor%}
    </div>
    
      <!--
    <script src="/static/js/script.js"></script>
    -->
{% endblock %}